* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
.container{
    width: 100%;
    margin: 0 auto;
}
.heading{
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
    color: #bfbfbf;
}
.search{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.search input{
    width: 300px;
    padding: 10px;
    border: 2px solid #bfbfbf;
    border-radius: 5px;
    background-color: transparent;
    color: #bfbfbf;
}

.storage-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
}
.item{
    padding: 20px;
    width: fit-content;
    border: 2px solid #bfbfbf;
    border-radius: 10px;
    margin: 0 10px;
}
a {
    text-decoration: none;
    color: #bfbfbf;
}