* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
.back{
    position: absolute;
    top: 20px;
    left: 20px;
    color: #bfbfbf;
    text-decoration: none;
}
.heading{
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
    color: #bfbfbf;
}
.container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Giới hạn */
.text {
  position: relative;
  font-size: 80px;
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke: 1px white;
  cursor: pointer;
}

/* Màu chữ để quét */
.text::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  color: #4da3ff;
  width: 0%;
  overflow: hidden;
  transition: width 0.6s ease;
}

/* Thanh quét */
.text::after {
  content: "";
  position: absolute;
  left: -4%;
  top: 0;
  width: 6px;
  height: 100%;
  background: #4da3ff;
  transition: left 0.6s ease;
}

.text:hover::before {
  width: 100%;
}

.text:hover::after {
  left: 100%;
}